<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Bug Refrence"
            class="com.github.omajid.bugreference.preferences.PreferencePage"
            id="com.github.omajid.bugreference.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.github.omajid.bugreference.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.github.omajid.bugreference.LinkDetector"
            description="Look up bug references"
            id="com.github.omajid.bugreference.LinkDetector"
            name="Bug Reference"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>

</plugin>
